.fJHnLB,.hEcbdf,.jyFGLZ,.hGPZJU{
    background-color:rgba(50,50,50,148);
}
body{
    background-color:#000000;
    color:#ffffff;
}
h1{
    color:#ffffff;
    width:auto !important;
    background:0 0!important;
    padding:0
}
.content{
    padding:20px
}
a{
    background-color:#000000;
}
svg{
    color:#ffffff !important;
}
.secondary{
    color:#0064ff;
}